
/* Global styles 
------------------------------------*/

body
{
	margin:0px;
	padding:0px;
	background: #A9A9A9;
	z-index: -999;
}

/* Header section styles 
------------------------------------*/

header{
	width: 100vw;
	height:300px;
}

#twitter-img {
	position: absolute;
	left: 3vw;
    top: 0px;
	text-align: left;
}

#header-intro1 p {
	position: absolute;
	left: 30vw;
    top: 240px;
    color: white;
    text-align: center;
	letter-spacing: 2px;
    width: 400px;
    border-radius: 4px;
    background: rgba(204, 204, 204, 0.2);
    padding: 20px;
	font-weight:lighter;
	line-height: 10px;
	font-size: 20px;
	font-family: Raleway, sans-serif;
}


/* dicom data styles 
------------------------------------*/

.images{
	background-color: none;
	width: 100vw;
	height:500px;
	margin: 0px;
}

#images h1{
	display: inline-block;
	color: white;
	width: 90vw;
	font-family: Raleway, sans-serif;
	font-weight: bolder;
	font-size: 10px;
	letter-spacing: 2px;
	border-radius: 4px;
	padding: 10px;
	background: rgba(204, 204, 204, 0.2);
	position: relative;
	left: 5vw;
    z-index: +1;
	text-align: center;
}

#dicomData {
	color: white;
	position: absolute;
	font-family: Raleway, sans-serif;
	font-weight: bolder;
	font-size: 12px;
	left: 3vw;
    top: 335px;
}

.w3-button{
	background: rgba(204, 204, 204, 0.2);
	border: none;
	width:40px;
	height:40px;
	z-index: +1;
}

.w3-black{
	color:white;
}

.w3-display-left{
	position: relative;
    top: -65px;
	left: 65%;
}

.w3-display-right{
	position: relative;
    top: -65px;
	left: 80%;
}


/* Image slideshow styles 
------------------------------------*/


.mySlides{
position: relative;
top: 70px;
left: 48vw;
border-radius: 10px;
}

h1{
	width: 400px;
}

#photos h1{
	display: inline-block;
	color: white;
	width: 50vw;
	font-family: Raleway, sans-serif;
	font-weight: bolder;
	font-size: 10px;
	letter-spacing: 2px;
	border-radius: 4px;
	padding: 10px;
	background: rgba(204, 204, 204, 0.2);
	position: relative;
	left: 48vw;
    top: 40px;
    z-index: +1;
	text-align: center;
}

#photos h2{
	width: 45vw;
	display: inline-block;
	color: white;
	font-family: 'Courier Prime', monospace;
	font-weight: bolder;
	font-size: 35px;
	letter-spacing: 1px;
	border-radius: 4px;
	padding: 5px;
	position: absolute;
	left: 10px;
    top: 300px;
    z-index: +1;
	text-align: center;
}

.w3-content{
	position: relative;
	left: 0px;
    top: -115px;
}



/* IMPC video section styles
------------------------------------*/

#impc h1{
	color: white;
	font-weight:bolder;
	width: 100vw;
	padding: 0px;
	margin:0px;
	font-size: 40px;
	font-family: Raleway, sans-serif;
	text-align: center;
	position: relative;
    top: 40px;
}

#underline {
    height: 0.3px;
    border: 0;
    border-top: 0.5px solid #C0C0C0;
    width:	50vw;
    margin: 1em 0;
    padding: 0;
    position: relative;
	left: 25vw;
    top: 50px;
}

#impc-img{
	position: absolute;
	left: 0px;
    top: 807px;
    z-index: -1;
}

#video{
	position: relative;
	left: 10%;
    top: 70px;
    opacity: 0.9;
}


