
/* Global styles 
------------------------------------*/

body {

}

/* Header section styles 
------------------------------------*/

.header {
    overflow: hidden;
    text-align: center;
    padding: 20px 10px;
}

.header p {
    font-size: 1em;
    font-family: 'Courier New', sans-serif;
    color: grey;
}

.images {
    overflow: hidden;
    text-align: center;
}


