
/* Global styles 
------------------------------------*/

body {

}

/* Header section styles 
------------------------------------*/

.header {
    overflow: hidden;
    text-align: center;
    padding: 20px 10px;
}

.header p {
    font-size: 1em;
    font-family: 'Courier New', sans-serif;
    color: grey;
}

.images {
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.imagegrid {
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.imageDiv {
    width: 300px;
    height: 300px;
    border: thin solid white;
    display: inline-flex;
    overflow: hidden;
    text-align: center;
    margin: 5px;
    position: relative;
}

