
/* Global styles 
------------------------------------*/

body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

/* Header section styles 
------------------------------------*/

.header {
	overflow: hidden;
	text-align: center;
	padding: 20px 10px;
}

.header p {
	font-size: 1.5em;
	font-family: 'Courier New', sans-serif;
	color: grey;
}

.images {
	overflow: hidden;
	text-align: center;
}

#description {
	width: 100%;
    height: 100px;
	text-align: center;
	padding: 20px 10px;
}
