body {

}

p {
    display: inline;
}

.header {
    overflow: hidden;
    text-align: center;
    padding: 20px 10px;
}

.headertag {
    overflow: hidden;
    text-align: center;
    padding: 20px 10px;
    font-size: 1.5em;
    text-transform: uppercase;
}

#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    list-style-type: none;
}

.hex {
    position: relative;
    visibility: hidden;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

    .hex::after {
        content: '';
        display: block;
        padding-bottom: 86.602%; /* =  100 / tan(60) * 1.5 */
    }

.hexIn {
    position: absolute;
    width: 96%;
    padding-bottom: 110.851%; /* =  width / sin(60) */
    margin: 0 2%;
    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}

    .hexIn * {
        position: absolute;
        visibility: visible;
        outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
    }

.hexLink {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}


/*** HEX CONTENT **********************************************************************/

.hex p {
    width: 50%;
    padding: 10%;
    font-family: 'Courier New', sans-serif;
    color: black;
    box-sizing: border-box;
    background-color: rgba(212, 175, 55, 0.8);
    font-weight: 300;
    opacity:0;
    -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
    transition: transform .2s ease-out, opacity .3s ease-out;
}

.hex p {
    top: 60%;
    padding-bottom: 40%;
    -webkit-transform: translate3d(0,100%,0);
    -ms-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}


/*** HOVER EFFECT  **********************************************************************/
.hexIn:hover p, .hexLink:focus p {
    opacity: 1;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
    #hexGrid {
        padding-bottom: 4.4%
    }

    .hex {
        width: 20%; /* = 100 / 5 */
    }

        .hex:nth-child(9n+6) { /* first hexagon of even rows */
            margin-left: 10%; /* = width of .hex / 2  to indent even rows */
        }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
    #hexGrid {
        padding-bottom: 5.5%
    }

    .hex {
        width: 25%; /* = 100 / 4 */
    }

        .hex:nth-child(7n+5) { /* first hexagon of even rows */
            margin-left: 12.5%; /* = width of .hex / 2  to indent even rows */
        }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
    #hexGrid {
        padding-bottom: 7.4%
    }

    .hex {
        width: 33.333%; /* = 100 / 3 */
    }

        .hex:nth-child(5n+4) { /* first hexagon of even rows */
            margin-left: 16.666%; /* = width of .hex / 2  to indent even rows */
        }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
    #hexGrid {
        padding-bottom: 11.2%
    }

    .hex {
        width: 50%; /* = 100 / 3 */
    }

        .hex:nth-child(3n+3) { /* first hexagon of even rows */
            margin-left: 25%; /* = width of .hex / 2  to indent even rows */
        }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}


#description {
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 20px 10px;
}