@page
@model chartsModel
@{
    //ViewData["Title"] = "Chart page";

}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/charts.css">
    <link rel="stylesheet" href="css/navbar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


</head>

<body>

    <!-- // Intro and header -->

    <Section class="navBar">
        <header>
            <div class="container">
                <h1 class="logo"></h1>

                <nav>
                    <ul>
                        <li><a asp-page="/index">Home</a></li>
                        <li><a asp-page="/dicomImageToGrid">Search</a></li>
                        <li><a asp-page="/base64ToImage">Body Part</a></li>
                        <li><a asp-page="/charts">Charts</a></li>
                        <li><a asp-page="/index">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </Section>

    <div class="charts">
        <canvas id="AgeOfMice"></canvas>
    </div>

    <div class="charts">
        <canvas id="Centers"></canvas>
    </div>

    <div class="charts">
        <canvas id="DistMiceByAge"></canvas>
    </div>

    <div class="charts">
        <canvas id="MFDist"></canvas>
    </div>

    <div class="charts">
        <canvas id="genes"></canvas>
    </div>


    <!-- // Helper points  -->

</body>

<script src="js/Charts.js"></script>

</html>

<script>

    console.log("Charts Page Loaded :)");

</script>


