@page
@model chartsModel
@{
    //ViewData["Title"] = "Chart page";

}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/charts.css">
    <link rel="stylesheet" href="css/navbar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
</head>

<body>

    <!-- // Intro and header -->

    <Section class="navBar">
        <header>
            <div class="container">
                    <a href="https://met.azurewebsites.net/"><img src="assets/logo.png" alt="My Logo" style="width:150px; height:75px; margin-top: 5px;"></a>
                    <h1 class="logo"></h1>
                    <nav>
                        <ul>
                            <li><a asp-page="/index">Home</a></li>
                            <li><a asp-page="/dicomImageToGrid">Search</a></li>
                            <li><a asp-page="/base64ToImage">Body Part</a></li>
                            <li><a asp-page="/charts">Charts</a></li>
                        </ul>
                    </nav>
</div>
        </header>
    </Section>

    <hr style="border: 1px solid#F5F5F5;" />

    <div class="charts">
        <canvas id="AgeOfMice"></canvas>
    </div>

    <div class="charts">
        <canvas id="Centers"></canvas>
    </div>

    <div class="charts">
        <canvas id="DistMiceByAge"></canvas>
    </div>

    <div class="charts">
        <canvas id="MFDist"></canvas>
    </div>

    <div class="charts">
        <canvas id="genes"></canvas>
    </div>


    <!-- // Helper points  -->

</body>

</html>

<script>

    ///////////////////////////////////////////// Script for each chart on CHARTS page of the webapp ////////////////////////////////////////////////////////

    //Global options for all charts

    Chart.defaults.global.defaultFontFamily = 'Work Sans';
    Chart.defaults.global.defaultFontSize = 15;
    Chart.defaults.global.defaultFontColor = '#777';

    //Age of Mice Chart

    let AgeOfMice = document.getElementById('AgeOfMice').getContext('2d');

    let AgeOfMiceChart = new Chart(AgeOfMice, {
        type: 'bar',//bar, horizontalBar,pie,line,doughnut,radar,polarArea
        data: {
            labels: ['Mouse 1', 'Mouse 2', 'Mouse 3', 'Mouse 4', 'Mouse 5', 'mouse 6'],
            datasets: [{
                label: 'Group 1',
                data: [
                    14,
                    23,
                    3,
                    21,
                    11,
                    5
                ],
                //backgroundColor:'green'

                backgroundColor: [
                    'rgba(220,105,20,1)',
                    'rgba(70,77,87,1)',
                    'rgba(212,232,211,1)',
                    'rgba(228,220,203,1)',
                    'rgba(237,137,23,1)',
                    'rgba(166,196,188,1)',
                    'rgba(234,122,88,1)',
                ],
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Age of Mice',
                fontSize: 20
            },
            legend: {
                display: false,
                position: 'right', // top, bottom, left, right
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            tooltips: {
                enabled: true
            },
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Age (Weeks)'
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Mouse ID'
                    }
                }]
            }
        }
    });

    // Centers Chart

    let Centers = document.getElementById('Centers').getContext('2d');

    let CentersChart = new Chart(Centers, {
        type: 'pie',//bar, horizontalBar,pie,line,doughnut,radar,polarArea
        data: {
            labels: ['Centre 1', 'Center 2', 'Centre 3', 'Centre 4', 'Center 5', 'Centre 6'],
            datasets: [{
                label: 'Group 1',
                data: [
                    142,
                    232,
                    30,
                    215,
                    111,
                    50
                ],
                //backgroundColor:'green'

                backgroundColor: [
                    'rgba(220,105,20,1)',
                    'rgba(70,77,87,1)',
                    'rgba(212,232,211,1)',
                    'rgba(228,220,203,1)',
                    'rgba(237,137,23,1)',
                    'rgba(166,196,188,1)',
                    'rgba(234,122,88,1)',
                ],
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Phenotyping Centers',
                fontSize: 20
            },
            legend: {
                display: true,
                position: 'right', // top, bottom, left, right
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            tooltips: {
                enabled: true
            },

        }
    });

    // Distribution of mice by age charts

    let DistMiceByAge = document.getElementById('DistMiceByAge').getContext('2d');

    let DistMiceByAgeChart = new Chart(DistMiceByAge, {
        type: 'bar',//bar, horizontalBar,pie,line,doughnut,radar,polarArea
        data: {
            labels: ['1-20', '21-40', '41-60', '61 -80', '81-100', '100-121'],
            datasets: [{
                label: 'Male',
                data: [
                    14,
                    56,
                    70,
                    65,
                    50,
                    32
                ],
                backgroundColor: [
                    'rgba(220,105,20,1)',
                    'rgba(70,77,87,1)',
                    'rgba(212,232,211,1)',
                    'rgba(228,220,203,1)',
                    'rgba(237,137,23,1)',
                    'rgba(166,196,188,1)',
                    'rgba(234,122,88,1)',
                ],
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Distribution of Mice by Age ',
                fontSize: 20
            },
            legend: {
                display: false,
                position: 'right', // top, bottom, left, right
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            tooltips: {
                enabled: true
            },
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Number of Mice'
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Age (Weeks)'
                    }
                }]
            }
        }
    });

    // Distribution of male to female mice

    let MFDist = document.getElementById('MFDist').getContext('2d');

    let MFDistChart = new Chart(MFDist, {
        type: 'radar',//bar, horizontalBar,pie,line,doughnut,radar,polarArea
        data: {
            labels: ['Centre 1', 'Center 2', 'Centre 3', 'Centre 4', 'Center 5', 'Centre 6'],
            datasets: [{
                label: 'Male',
                data: [
                    142,
                    232,
                    70,
                    215,
                    111,
                    50
                ],
                backgroundColor: 'rgba(228,220,203,1)',
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            },
            {
                label: 'Female',
                data: [
                    101,
                    245,
                    41,
                    99,
                    214,
                    301
                ],
                backgroundColor: 'rgba(237,137,23,1)',
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Distribution of Male to Female Mice ',
                fontSize: 20
            },
            legend: {
                display: true,
                position: 'right', // top, bottom, left, right
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            tooltips: {
                enabled: true
            },

        }
    });

    // Distribution of genes knockouts

    let genes = document.getElementById('genes').getContext('2d');

    let genesChart = new Chart(genes, {
        type: 'bar',//bar, horizontalBar,pie,line,doughnut,radar,polarArea
        data: {
            labels: ['1-20', '21-40', '41-60', '61 -80', '81-100', '100-121'],
            datasets: [{
                type: 'line',
                label: 'weight (g)',
                borderColor: 'blue',
                borderWidth: 2,
                fill: false,
                //  yAxisID: 'y-axis-1',
                data: [
                    20,
                    30,
                    40,
                    43,
                    37,
                    29,
                ],
                // yAxisID: "y-axis-1",
            },
            {
                label: 'Gene Symbol : Rab15',

                data: [
                    14,
                    56,
                    70,
                    65,
                    50,
                    32
                ],
                //  yAxisID: "y-axis-2",
                backgroundColor: [
                    'rgba(220,105,20,1)',
                    'rgba(70,77,87,1)',
                    'rgba(212,232,211,1)',
                    'rgba(228,220,203,1)',
                    'rgba(237,137,23,1)',
                    'rgba(166,196,188,1)',
                    'rgba(234,122,88,1)',
                ],
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Weight of mice across age ranges ',
                fontSize: 20
            },
            legend: {
                display: true,
                position: 'right', // top, bottom, left, right
                labels: {
                    fontColor: '#000',
                    filter: function (item, chart) {
                        return !item.text.includes('Gene Symbol : Rab15');
                    }
                }
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            tooltips: {
                enabled: true
            },
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Number of Mice'
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Age (Weeks)'
                    }
                }]
            }
        }
    });


    console.log("Charts Page Loaded :)");

</script>


