@page
@model dicomImageToGridModel
@{
    //ViewData["Title"] = "dicomImageToGrid";
}

<!doctype html>
<html>
<head>
    <title>Grid</title>
    <link rel="stylesheet" href="css/dicomImageToGrid.css">

    <!-- include the cornerstone library -->
    <script src="https://unpkg.com/cornerstone-wado-image-loader@3.0.6/dist/cornerstoneWADOImageLoader.min.js"></script>
    <script src="js/cornerstone.min.js"></script>
    <script src="js/cornerstoneMath.min.js"></script>
    <script src="js/cornerstoneTools.min.js"></script>
    <script src="js/dicomParser.min.js"></script>
    <script src="js/cornerstoneWADOImageLoader.js"></script>

    <!-- include dexie.js api - create db + store query functions -->
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
    <script src="js/db-dexie.js"></script>
    <script>
        createDb();
        loadTestData();
    </script>

</head>

<body>

    <div class="header">
        <p>Click a button to see related images.</p>
        <p>Use mouse to zoom in or change contrast of an image.</p>

        <form method="POST">
            <button type="submit" class="btn btn-dark" asp-page="/Index">Home</button>
            <button type="submit" class="btn btn-danger" onclick="queryDb('A', 'A', 'A', 'A', 'A')" asp-page-handler="viewAll">View All</button>
            <button type="submit" class="btn btn-success" onclick="queryDb('A', 'F', 'A', 'A', 'A')" asp-page-handler="Females">Females</button>
            <button type="submit" class="btn btn-primary" onclick="queryDb('A', 'M', 'A', 'A', 'A')" asp-page-handler="Males">Males</button>
            <button type="submit" class="btn btn-warning" onclick="queryDb('A', 'A', 'Rab15', 'A', 'A')" asp-page-handler="Gene">Gene (Rab15)</button>
            <button type="submit" class="btn btn-info" onclick="queryDb('A', 'A', 'A', 'A', 'ICS')" asp-page-handler="Centre">Centre (ICS)</button>
        </form>

    </div>

    <div class="header">
        <form method="POST">
            <label for="tagName"><font color="black" size="4">QUERY:</font></label>
            <input type="text" id="tagName" placeholder="Centre: WTSI or ICS" name="centre">
            <input type="text" id="tagName" placeholder="Sex: M or F" name="sex">
            <input type="submit" class="btn btn-light" asp-page="/dicomImageToGrid" asp-page-handler="Name">
        </form>
    </div>

    <div class="images">
        <!-- Images are placed above this Div to create the grid -->
        <div id="dicomImage"></div>
    </div>

</body>

</html>

<script>
    loadDivs();
    console.log("Page Loaded :)");
</script>




