@page
@model demoModel
@{
    //ViewData["Title"] = "Getting Started";
}

<!doctype html>
<html>
<head>
    <title>Grid</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Poppins", sans-serif
        }

        body {
            font-size: 16px;
        }
    </style>

</head>

<body>

    <Section class="navBar">
        <header>
            <div class="container">
                <h1 class="logo"></h1>

                <nav>
                    <ul>
                        <li><a asp-page="/Index">Home</a></li>
                        <li><a href="https://github.com/laurencebrwn/mice-exploration-tool">Download from GitHub</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </Section>

    <section class="header">

        <h1><a asp-page="/index" style="text-decoration:none; color:white;">ExVi</a></h1>
        <h2>Watch the video to get started</h2>

    </section>

    <!-- //  video -->

    <Section class="video">

        <div id="video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QGMh1YBU6a0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </Section>


    <!-- Guide Section -->
    <div class="w3-padding-64 w3-light-grey">
        <div class="w3-row-padding">

            <div>
                <h1 class="w3-jumbo"><b>Walk Through</b></h1>
                <h1 class="w3-xxxlarge w3-text-red"><b>Step by Step</b></h1>

                <p>
                    <br /><span class="w3-xlarge">Step 1.</span> <br /><br />Download the latest release from <a style="color:blue;" href="https://github.com/laurencebrwn/mice-exploration-tool/releases">here</a>.
                </p>

                <p>
                    <span class="w3-xlarge">Step 2.</span> <br /><br />ExVi requires a locally hosted MySQL database to operate.
                    <br /><br />Download MySQL Workbench from <a style="color:blue;" href="https://dev.mysql.com/downloads/">here</a> and install.
                    <br /><br />You will need to create a user and password for your database. The default the details which ExVi uses are, <a style="font-family:'Courier New'">'database=MICE', 'user=root'</a> and <a style="font-family:'Courier New'">'password=TSEGroup34'</a>. If these values change for the user then the program will need to be changed accordingly. These values are used to create a connection string to the local MySql database.
                    <br /><br />You will need to SymLink your data storage directory so that the program can retrieve your DICOM images and JSON metadata to populate the database. The name of the <a style="font-family:'Courier New'">symlink dir</a> needs to be <a style="font-family:'Courier New'">'dicomImages</a>. If these values change for the user then the program will need to be changed accordingly.
                    <br /><br />Details on how to create a SymLink are <a style="color:blue;" href="https://en.wikipedia.org/wiki/Symbolic_link">here</a>. A example Linux command is as follows:
                    <br /><br />&emsp;<a style="font-family:'Courier New'">•	$ ln -s /path/to/original /path/to/symlink</a>
                    <br /><br /><i>If you don't have a set of images or associated meta data a sample set can be found <a style="color:blue;" href="https://www.dropbox.com/sh/tq2nsob6l05heg4/AAB9L1fSbfcOLDTgYpKeYPzQa?dl=0">here</a></i>.
                </p>

                <p>
                    <span class="w3-xlarge">Step 3.</span> <br /><br />Download and install the latest release of the .NET runtime from <a style="color:blue;" href="https://dotnet.microsoft.com/download">here</a>.
                </p>

                <p>
                    <span class="w3-xlarge">Step 4.</span> <br /><br />Once the MySQL database is running and the .NET runtime is installed on your machine, you may then launch ExVi.
                    <br /><br />&emsp;i.	Open up a terminal and navigate to ExVi's directory.
                    <br /><br />&emsp;ii.	Run the command:&emsp; <a style="font-family:'Courier New'">dotnet run</a>.
                    <br /><br />&emsp;iii.	Using your browser visit:&emsp; <a style="font-family:'Courier New'">https://localhost:5001</a>.
                </p>
                <p>
                    <span class="w3-xlarge">Step 5.</span> <br /><br />Once the program is running in your browser you will need to populate the database. This is done automatically by clicking on the <b>UPDATE_DATABASE</b> menu option on the <b>HOME</b> page.
                </p>

            </div>
        </div>
    </div>



</body>

</html>

<script>
    
</script>




