@page
@model IndexModel
@{
    //ViewData["Title"] = "Home page";
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
</head>


<body>

    <div class="header">
        <form method="POST">
            <label for="tagName"><font color="black" size="4">Please enter you filepath here:</font></label>
            <input type="text" id="tagName" placeholder="Your filepath here" name="FilePath">
            <input type="submit" class="btn btn-light" asp-page="/Index" asp-page-handler="FilePath">
        </form>
    </div>


    <form method="POST">
        <ul id="hexGrid">
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="assets/mouse1.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                    <p>View All</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="assets/mouse2.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="Females" />
                    <p>Females<br />in <br />Database</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="assets/mouse3.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="Males" />
                    <p>Males<br /> in <br />Database</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="assets/mouse4.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="Centre" />
                    <p>Centre <br />(ICS)</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="assets/mouse5.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="Gene" />
                    <p>Gene <br />(Rab15)</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="assets/mouse6.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                    <p>View All</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="assets/mouse7.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                    <p>View All</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="assets/mouse8.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                    <p>View All</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="assets/mouse9.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                    <p>View All</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="assets/mouse10.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                    <p>DICOM <br />Image Grid</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="assets/mouse11.jpg" alt="Submit" asp-page="/base64ToImage" />
                    <p>Base64 To <br />Image</p>
                </div>
            </li>
        </ul>
    </form>

</body>

</html>

<script>

    console.log("Page Loaded :)");

</script>


