@page
@model IndexModel
@{
    //ViewData["Title"] = "Home page";
}

<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!--cornerstone library -->
	<script src="https://unpkg.com/cornerstone-wado-image-loader@3.0.6/dist/cornerstoneWADOImageLoader.min.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cornerstone.min.css" rel="stylesheet">

	<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

	<link rel="stylesheet" href="css/style.css">
</head>


<body>

    <!-- // Header section -->

<header>
	<div id="header-img"><img src="assets/dna.jpg" style="width:100vw; height:100vw;" alt="map"></div>
	</div><div id="header-intro1">
		<p>DICOM Images of Mice</p></div>
    <nav id="nav1">
        <a asp-area="" asp-page="/base64ToImage">Base64 To Image</a> |
        <a asp-area="" asp-page="/dicomImageToGrid">DICOM Images to Grid</a> |
        <a href="">Link 3</a> |
        <a href="">Link 4</a>  |
        <a href="">Link 5</a>
    </nav>

</header>

    <!-- // Image slideshow section -->

<Section = class="images">	

<div id="images-background"><img src="assets/imagesBackground.jpg" alt="map" style="width:100vw; height:510px;"></div>

<div class="container">

    <div id="dicomImage" style="width:450px;height:450px;top:335px;left:53vw; position:absolute"></div>

        <!-- // dicom data metadata tags -->
        <div class="dicomData">
            <div id="dicomData">
                <span>STUDY DETAILS:<br>
                <span>Transfer Syntax: </span><span id="transferSyntax"></span><br>
                <span>SOP Class: </span><span id="sopClass"></span><br>
                <span>Study Instance UID: </span><span id="studyInstanceUID"></span><br>
                <span>Image ID: </span><span id="imageID"></span><br> 
                <span>Study Date: </span><span id="studyDate"></span><br>
                <span>Series Date: </span><span id="seriesDate"></span><br>
                <span>Context Date: </span><span id="contextDate"></span><br>
                <span>Study Time: </span><span id="studyTime"></span><br>
                <span>Series Time: </span><span id="seriesTime"></span><br>
                <span>Context Time: </span><span id="contextTime"></span><br><br>

                <span>EQUIPMENT DETAILS:<br>
                <span>Manufacturer: </span><span id="manufacturer"></span><br>
                <span>Manufacturer Model: </span><span id="manufacturerModel"></span><br>
                <span>Station Name: </span><span id="stationName"></span><br>
                <span>Device SN: </span><span id="deviceSN"></span><br>
                <span>Software Version: </span><span id="softwareVersion"></span><br>
                <span>Date of calibration: </span><span id="DateOfCalibration"></span><br>
                <span>Detector Manufacturer: </span><span id="detectorManufacturer"></span><br>
                <span>Detector Type: </span><span id="detectorType"></span><br>
                <span>Dectector Model: </span><span id="detectorModel"></span><br><br>

                <span>PATIENT DETAILS:<br>     
                <span>Patient Name: </span><span id="patientName"></span><br>
                <span>Patient ID: </span><span id="patientID"></span><br>
                <span>Patient DOB: </span><span id="patientDOB"></span><br>
                <span>Patient Sex: </span><span id="patientSex"></span><br>

            </div>
        </div> 

</div>
    
</Section>
</body>
    <!-- // Footer -->

<!-- include the cornerstone library -->
<script src="js/cornerstone.min.js"></script>
<SCRIPT src="js/cornerstoneMath.min.js"></SCRIPT>
<SCRIPT src="js/cornerstoneTools.min.js"></SCRIPT>

<!-- include the dicomParser library as the WADO image loader depends on it -->
<script src="js/dicomParser.min.js"></script>

<!-- include the cornerstoneWADOImageLoader library -->
<script src="js/cornerstoneWADOImageLoader.js"></script>

<!-- uids -->
<script src="js/uids.js"></script>

<!-- Lines ONLY required for this example to run without building the project -->
<script>window.cornerstoneWADOImageLoader || document.write('<script src="https://unpkg.com/cornerstone-wado-image-loader">\x3C/script>')</script>
<script src="js/initializeWebWorkers.js"></script>


<!-- <script src = "js/jquery.js"></script>
<script src = "js/javascript.js"></script> -->

<!-- javascript to show dicom image -->

<script>
cornerstoneWADOImageLoader.external.cornerstone = cornerstone;

    const element = document.getElementById('dicomImage');
    cornerstone.enable(element);

    window.onload = function downloadAndView() {
            //// prefix the url with wadouri: so cornerstone can find the image loader
            // // test images
            // var url1 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/SampleTestImages/dicomTest1.dcm";
            // var url2 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/SampleTestImages/dicomTest2.dcm";
            // var url3 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/SampleTestImages/dicomTest3.dcm";
            // var url4 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/SampleTestImages/dicomTest4.dcm";
            // var url5 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/SampleTestImages/dicomTest5.dcm";
            // var url6 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/SampleTestImages/dicomTest6.dcm";
            // var url7 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/SampleTestImages/dicomTest7.dcm";
            // var url8 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/SampleTestImages/dicomTest8.dcm";
            // var url9 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse1.dcm";
            // var url10 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse2.dcm";
            // var url11 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse3.dcm";
            // var url12 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse4.dcm";
            // var url13 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse5.dcm";
            // var url14 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse6.dcm";
            // var url15 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse7.dcm";
            // var url16 = "https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse8.dcm";

            //Array of image addresses. Add more image address ot have more images in the slideshow
            var ImageArray = [
            'https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse1.dcm', 
            'https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse2.dcm', 
            'https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse3.dcm',
            'https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse4.dcm',
            'https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse5.dcm',
            'https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse6.dcm',
            'https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse7.dcm',
            'https://raw.githubusercontent.com/18685030/DicomTestImages/master/dicomImages/mouse8.dcm'];

            //shows a random image every X interval
            setInterval(function()
            { 
                var rand = ImageArray[Math.floor(Math.random() * ImageArray.length)];
                let imageId = "wadouri:" + rand;
                //console.log("Image: ", imageId);
                loadAndViewImage(imageId)
            }, 3000); 

            //// Image url test function    
            //let imageId = "wadouri:" + url8;
            // console.log(imageId);
            //loadAndViewImage(imageId)
            
        }
        let loaded = false;
    function loadAndViewImage(imageId) {
        const element = document.getElementById('dicomImage');
        const start = new Date().getTime();
        cornerstone.loadImage(imageId).then(function(image) {
            console.log(image);
            cornerstone.displayImage(element, image);
            if(loaded === false) {
                cornerstoneTools.mouseInput.enable(element);
                cornerstoneTools.mouseWheelInput.enable(element);
                cornerstoneTools.wwwc.activate(element, 1); // ww/wc is the default tool for left mouse button
                cornerstoneTools.pan.activate(element, 2); // pan is the default tool for middle mouse button
                cornerstoneTools.zoom.activate(element, 4); // zoom is the default tool for right mouse button
                cornerstoneTools.zoomWheel.activate(element); // zoom is the default tool for middle mouse wheel
                cornerstoneTools.imageStats.enable(element);
            loaded = true;
            }
            function getTransferSyntax() {
                const value = image.data.string('x00020010');
                return value + ' [' + uids[value] + ']';
            }
            function getSopClass() {
                const value = image.data.string('x00080016');
                return value + ' [' + uids[value] + ']';
            }
            function getPixelRepresentation() {
                const value = image.data.uint16('x00280103');
                if(value === undefined) {
                    return;
                }
                return value + (value === 0 ? ' (unsigned)' : ' (signed)');
            }
            function getPlanarConfiguration() {
                const value = image.data.uint16('x00280006');
                if(value === undefined) {
                    return;
                }
                return value + (value === 0 ? ' (pixel)' : ' (plane)');
            }

            //chosen DICOM tags from image metadata
            document.getElementById('transferSyntax').textContent = getTransferSyntax();
            document.getElementById('sopClass').textContent = getSopClass();
            document.getElementById('studyInstanceUID').textContent = image.data.string('x00080018');
            document.getElementById('imageID').textContent = image.data.string('x00540400');
            document.getElementById('studyDate').textContent = image.data.string('x00080020');
            document.getElementById('seriesDate').textContent = image.data.string('x00080021');
            document.getElementById('contextDate').textContent = image.data.string('x00080023');
            document.getElementById('studyTime').textContent = image.data.string('x00080030');
            document.getElementById('seriesTime').textContent = image.data.string('x00080031');
            document.getElementById('contextTime').textContent = image.data.string('x00080033');

            document.getElementById('manufacturer').textContent = image.data.string('x00080070');
            document.getElementById('manufacturerModel').textContent = image.data.string('x00081090');
            document.getElementById('stationName').textContent = image.data.string('x00081010');
            document.getElementById('deviceSN').textContent = image.data.string('x00181000');
            document.getElementById('softwareVersion').textContent = image.data.string('x00181020');
            document.getElementById('DateOfCalibration').textContent = image.data.string('x00181200');
            document.getElementById('detectorManufacturer').textContent = image.data.string('x0018702a');
            document.getElementById('detectorType').textContent = image.data.string('x00187004');
            document.getElementById('detectorModel').textContent = image.data.string('x0018702b');

            document.getElementById('patientName').textContent = image.data.string('x00100010');
            document.getElementById('patientID').textContent = image.data.string('x00100020');
            document.getElementById('patientDOB').textContent = image.data.string('x00100030');
            document.getElementById('patientSex').textContent = image.data.string('x00100040');

        }, function(err) {
            alert(err);
        });
    }

console.log("Page Loaded");

</script>

</html>
