@page
@model IndexModel
@{
    //ViewData["Title"] = "Home page";

}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/navbar.css">
    <style>
        li {
            cursor: pointer;
        }
    </style>
</head>

<body>

    <!-- // Intro and header -->

    <Section class="navBar">
        <header>
            <div class="container">
                <a href="https://met.azurewebsites.net/"><img src="assets/logo.png" alt="My Logo" style="width:150px; height:75px; margin-top: 5px;"></a>
                <h1 class="logo"></h1>
                <nav>
                    <ul>
                        <li><a style="color:#720000" onclick="database.submit()">Update-Database</a></li>
                        <li><a asp-page="/index">Home</a></li>
                        <li><a asp-page="/dicomImageToGrid">Search</a></li>
                        <li><a asp-page="/base64ToImage">Body Part</a></li>
                        <li><a asp-page="/charts">Charts</a></li>
                    </ul>
                </nav>
            </div>

            <form name="database" method="POST" asp-page="/Index" asp-page-handler="FilePath"></form>

        </header>
    </Section>

    <hr style="border: 1px solid#F5F5F5;" />

    <!-- // Hexogan grid display-->

    <Section class="grid">

        <form method="POST">
            <ul id="hexGrid">
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse1.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                        <p>View All</p>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse2.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="Females" />
                        <p>Search<br />Females</p>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse3.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="Males" />
                        <p>Search<br />Males</p>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse4.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="Centre" />
                        <p>Search <br />(WTSI)</p>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse5.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="Gene" />
                        <p>Search<br />(Rab15)</p>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse6.jpg" alt="Submit" asp-page="/charts" />
                        <p>View<br />Charts</p>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse7.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                        <p>Not In Use</p>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse8.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                        <p>Not In Use</p>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse9.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                        <p>Not In Use</p>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse7.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                        <p>Not In Use</p>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse8.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                        <p>Not In Use</p>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse9.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                        <p>Not In Use</p>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse10.jpg" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                        <p>Not In Use</p>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <input type="image" class="hexLink" src="assets/mouse11.jpg" alt="Submit" asp-page="/Index" asp-page-handler="FilePath" />
                        <p>Update<br />Database</p>
                    </div>
                </li>
            </ul>
        </form>

    </Section>


</body>

</html>

<script>



    console.log("Page Loaded :)");

</script>


