@page
@model IndexModel
@{
    //ViewData["Title"] = "Home page";
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/hexagons.css">
</head>


<body>

    <form method="POST">
        <ul id="hexGrid">
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="https://www.ebi.ac.uk/mi/media/omero/webgateway/render_image/139405" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                    <p>View All</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" g src="https://www.ebi.ac.uk/mi/media/omero/webgateway/render_image/135846" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="Females" />
                    <p>All Females<br />in Database</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="https://www.ebi.ac.uk/mi/media/omero/webgateway/render_image/136636" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="Males" />
                    <p>All Males<br /> in Database</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="https://www.ebi.ac.uk/mi/media/omero/webgateway/render_image/129722" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="Centre" />
                    <p>Centre (ICS)</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="https://www.ebi.ac.uk/mi/media/omero/webgateway/render_image/151363" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="Gene" />
                    <p>Gene (Rab15)</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="https://www.ebi.ac.uk/mi/media/omero/webgateway/render_image/142548" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                    <p>View All</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="https://www.ebi.ac.uk/mi/media/omero/webgateway/render_image/143060" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                    <p>View All</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="https://www.ebi.ac.uk/mi/media/omero/webgateway/render_image/127871" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                    <p>View All</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="https://www.ebi.ac.uk/mi/media/omero/webgateway/render_image/129071" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                    <p>View All</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="https://www.ebi.ac.uk/mi/media/omero/webgateway/render_image/140410" alt="Submit" asp-page="/dicomImageToGrid" asp-page-handler="ViewAll" />
                    <p>DICOM Grid</p>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <input type="image" class="hexLink" src="https://www.ebi.ac.uk/mi/media/omero/webgateway/render_image/425051" alt="Submit" asp-page="/base64ToImage" />
                    <p>Base64 To <br />Image</p>
                </div>
            </li>
        </ul>
    </form>

</body>

<script>console.log("Page Loaded :)");</script>

</html>
